# general npm config
progress=false

# create a new one at: https://github.com/settings/tokens/new
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# internal repos and shorthands
@kl-engineering:registry=https://npm.pkg.github.com